<?php

declare(strict_types=1);

namespace __PHP_NAMESPACE_PARENT__;

use Temporal\Tests\Parity\Framework\AbstractParityScenarioTest;

final class __SCENARIO_SHORT__Test extends AbstractParityScenarioTest
{
    protected function fixtureJava(): string
    {
        return __DIR__ . '/fixtures/java.json';
    }

    protected function fixturePhp(): string
    {
        return __DIR__ . '/fixtures/php.json';
    }
}
