* text=auto

/.*                    export-ignore
/*.xml.dist            export-ignore
/*.xml                 export-ignore
/config/               export-ignore
/resources/scripts/    export-ignore
/runtime/              export-ignore
/tests/                export-ignore

Makefile               export-ignore
