<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheResultFile="runtime/.phpunit.result.cache"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false"
         stderr="true"
>
    <testsuites>
        <testsuite name="Acceptance">
            <directory suffix="Test.php">tests/Acceptance/Harness</directory>
        </testsuite>
        <testsuite name="Arch">
            <directory suffix="Test.php">tests/Arch</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="TestCase.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="TestCase.php">tests/Feature</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory suffix="TestCase.php">tests/Functional</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>skip-on-test-server</group>
        </exclude>
    </groups>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
    </php>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
